
Programs can be run as follows:
1) python device_paths.py -f <input events file>
   example  python device_paths.py -f sample_events.csv

2) python common_paths.py -f <input events file>
3) python user_paths.py -f <input events file>

Output for the 3 programs for sample events file is in ex01.result, ex02.result and ex03.result


